<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Listado de Ordenes de {{Usuario}}
            </div>

            <div class="card-body">
                <form [formGroup]="ordenesForm">
                    <button type="button" [routerLink]="['/orden']" routerLinkActive="router-link-active" class="btn btn-primary">
                        Nueva Orden
                    </button>

                    <p-table [value]="ordenesFiltradas" [paginator]="true" [rows]="10" class="table-filter">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">ID Orden <p-sortIcon field="id"></p-sortIcon></th>
                                <th pSortableColumn="cliente">Cliente <p-sortIcon field="cliente"></p-sortIcon></th>
                                <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                                <th pSortableColumn="montoTotal">Monto Total <p-sortIcon field="montoTotal"></p-sortIcon></th>
                                <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                                <th>Acciones</th>
                            </tr>
                            <tr>
                                <th><input pInputText type="text" formControlName="id" placeholder="Buscar por ID"></th>
                                <th><input pInputText type="text" formControlName="cliente" placeholder="Buscar por Cliente"></th>
                                <th><input type="date" formControlName="fechaEmision"></th>
                                <th><input pInputText type="text" formControlName="montoTotal" placeholder="Buscar por Monto"></th>
                                <th>
                                    <p-dropdown [options]="estados" formControlName="estado" placeholder="Seleccionar Estado"></p-dropdown>
                                </th>
                                <th>
                                    <button pButton type="button" label="Limpiar" (click)="aplicarFiltros(true)"></button>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.cliente.persona.nombre }}</td>
                                <td>{{ order.fechaEmision | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ order.montoTotal | currency: '$' }}</td>
                                <td>{{ order.estado  | uppercase }}</td>
                                <td>
                                    
                                    <button type="button" [disabled]="order.estado === 'finalizado'" [routerLink]="['/orden', order.id]" routerLinkActive="router-link-active" class="btn btn-primary">Modificar</button>
                                    <button pButton type="button" [routerLink]="['/orden', order.id]" routerLinkActive="router-link-active"  label="Ver"   (click)="verDetalle(order)"></button>
                                    <button pButton type="button" [disabled]="order.estado  === 'finalizado'" label="Cancelar"  (click)="verDetalle(order)"></button>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </form>
            </div>
        </div>
    </div>
</div>



<p-confirmDialog header="Confirmación" appendTo="body" icon="pi pi-exclamation-triangle"></p-confirmDialog>
