<!-- cotizacion-arreglo.component.html -->
<form [formGroup]="formularioCotizacion" >
    <div class="mat-elevation-z2 p-3">
      <label for="empleado" class="col-sm-3 col-form-label font-weight-bold">Id:</label>
          <div class="col-sm-8">
            <input type="text" id="empleado" formControlName="idCotizacion" class="form-control">
          </div>
      <!-- Primera Fila -->
      <div class="row mb-3">
        
        <div class="col-md-6 mb-3">
          <!-- Contenido del primer div -->
          
          <div class="card">
            <div class="card">
              <div class="card-body">
                            
                <div class="form-group row">          
                
                  <label for="empleado" class="col-sm-3 col-form-label font-weight-bold">Empleado:</label>
                 
                  <div class="row">
                    <div class="col-md-2 mb-1">
                      <input type="text" id="idEmpleado" class="form-control">
                    </div>
                    <div class="col-md-2 mb-1">
                      <button class="btn btn-primary w-100" (click)="abrirPopup('popUp-cotizacion-empleados')"> <i class="pi pi-search"></i></button>
                    </div>
                    <div class="col-md-8 mb-1">
                      <input type="text" id="nombreEmpleado" class="form-control">
                    </div>
                  </div>
                </div>
            
                <div class="form-group row">
                  <label for="fecha" class="col-sm-2 col-form-label font-weight-bold">Fecha:</label>
                  <div class="col-sm-10">
                    <input type="text" id="fecha" formControlName="fechaCotizacion" class="form-control">
                  </div>
                </div>
            
                <div class="form-group row">
                  <label for="id" class="col-sm-2 col-form-label font-weight-bold">ID:</label>
                  <div class="col-sm-10">
                    <input type="text" id="id" class="form-control">
                  </div>
                </div>
            
                <div class="form-group row">
                  <label for="estado" class="col-sm-2 col-form-label font-weight-bold">Estado:</label>
                  <div class="col-sm-10">
                    <input type="text" id="estado" formControlName="estadoCotizacion" class="form-control">
                  </div>
                </div>
              </div>
            </div>
        
        </div>
        
        </div>

        <div class="col-md-6 mb-3">
          <!-- Contenido del segundo div -->
          <div class="card">
            <div class="card-body">
            
              <div class="form-group">
                <label for="cliente" class="font-weight-bold">Cliente:</label>
                <div class="row">
                  <div class="col-md-2 mb-1">
                    <input type="text" id="idCliente" formControlName="idCliente" class="form-control">
                  </div>
                  <div class="col-md-2 mb-1">
                    <button class="btn btn-primary w-100" (click)="abrirPopup('popUp-cotizacion-clientes')"> <i class="pi pi-search"></i></button>
                  </div>
                  <div class="col-md-8 mb-1">
                    <input type="text" id="nombreCliente" formControlName="nombreCliente" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="direccion" class="font-weight-bold">Dirección:</label>
                <div>
                  <input type="text" id="direccion" formControlName="clienteDireccion" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="telefono" class="font-weight-bold">Teléfono:</label>
                <div>
                  <input type="text" id="telefono" formControlName="clienteTelefono" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="celular" class="font-weight-bold">Celular:</label>
                <div>
                  <input type="text" id="celular" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
            <div class="card-body">
              <h5 class="card-title">Primer Div</h5>
              <div class="form-group">
                <label for="vehiculo" class="font-weight-bold">Vehículo:</label>
                <div>
                  <input type="text" id="vehiculo" class="form-control">
                  <button class="btn btn-primary mt-2" (click)="abrirPopup('popUp-cotizacion-vehiculos', formularioCotizacion.get('idCliente').value)">Vehículos</button>
                </div>
              </div>
              <div class="form-group">
                <label for="fecha" class="font-weight-bold">Patente:</label>
                <div>
                  <input type="text" id="patente" formControlName="patente" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <label for="marca" class="font-weight-bold">Marca:</label>
                <div>
                  <input type="text" id="marca" formControlName="marca" class="form-control">
                </div>
                <label for="modelo" class="font-weight-bold">Modelo:</label>
                <div>
                  <input type="text" id="modelo" formControlName="modelo"  class="form-control">
                </div>
              </div>
              <div class="form-row">
                <label for="color" class="font-weight-bold">Color:</label>
                <div>
                  <input type="text" id="color"   formControlName="color" class="form-control">
                </div>
                <label for="anio" class="font-weight-bold">Año:</label>
                <div>
                  <input type="text" id="anio" formControlName="anio" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="numeroserie" class="font-weight-bold">Nro. de Serie:</label>
                <div>
                  <input type="text" id="numeroserie" formControlName="numeroserie" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="fecha" class="font-weight-bold">Nro.Económico:</label>
                <div>
                  <input type="text" id="fecha" class="form-control">
                </div>
              </div>
            </div>
          </div>
      <!-- Inicio tabla -->
      <!-- Segunda Fila -->
      <div class="row mb-3">
        <div class="col-md-12">
          <!-- Contenido del tercer div (Tabla) -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tercer Div (Tabla)</h5>
              <!-- Tabla de PrimeNG >
              <p-table [value]="items" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Columna 1</th>
                    <th>Columna 2</th>
                    <th>Columna 3</th>
                    <th>Columna 4</th>
                    <th>Columna 5</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td>{{ item.col1 }}</td>
                    <td>{{ item.col2 }}</td>
                    <td>{{ item.col3 }}</td>
                    <td>{{ item.col4 }}</td>
                    <td>{{ item.col5 }}</td>
                  </tr>
                </ng-template>
              </p-table-->

              <!-- Botón para agregar ítems -->
              <button class="btn btn-success mt-2" (click)="agregarItem()">Agregar Ítem</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin tabla -->

      <!-- Resto del código (cuarto y quinto divs) -->
      <div class="row mb-3">
        <div class="col-md-6 mb-3">
          <!-- Contenido del primer div -->
          <div class="card">
            <div class="card-body">
            
              <div class="form-group">
                <label for="observaciones" class="font-weight-bold">Observaciones:</label>
                <div>
                  <input type="text" id="observaciones" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <!-- Contenido del segundo div -->
          <div class="card">
            <div class="card-body">
              
        
              <div class="form-group row">
                <label for="cliente" class="col-sm-4 col-form-label font-weight-bold">SubTotal:</label>
                <div class="col-sm-8">
                  <input type="text" id="cliente" class="form-control">
                </div>
              </div>
        
              <div class="form-group row">
                <label for="direccion" class="col-sm-4 col-form-label font-weight-bold">Porcentaje Desc.:</label>
                <div class="col-sm-8">
                  <input type="text" id="direccion" class="form-control">
                </div>
              </div>
        
              <div class="form-group row">
                <label for="telefono" class="col-sm-4 col-form-label font-weight-bold">Descuento:</label>
                <div class="col-sm-8">
                  <input type="text" id="telefono" class="form-control">
                </div>
              </div>
        
              <div class="form-group row">
                <label for="celular" class="col-sm-4 col-form-label font-weight-bold">SubTotal con Desc.:</label>
                <div class="col-sm-8">
                  <input type="text" id="celular" class="form-control">
                </div>
              </div>
        
              <div class="form-group row">
                <label for="iva" class="col-sm-4 col-form-label font-weight-bold">IVA:</label>
                <div class="col-sm-8">
                  <input type="text" id="iva" class="form-control">
                </div>
              </div>
        
              <div class="form-group row">
                <label for="importeTotal" class="col-sm-4 col-form-label font-weight-bold">Importe Total:</label>
                <div class="col-sm-8">
                  <input type="text" id="importeTotal" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      

    <!--app-popup-generico [tipoPopUp] = "tipo" 
                        (itemSeleccionado)="itemSeleccionadoDesdePopup($event)"
                        [columnas]="columnas"
    ></app-popup-generico-->
    
    <app-popup-generico 
                        [mostrarPopup]="mostrarPopup"
                        (cerrarPopup)="cerrarPopup()"
                        [datos]="datos"                                        
                        (itemSeleccionado)="itemSeleccionadoDesdePopup($event)"
                        >
    </app-popup-generico>

    <!--app-popup-generico [visible]="mostrarDialogo">
      <  Contenido específico del diálogo >
      <h3>Contenido del Diálogo</h3>
      <button (click)="ocultarDialogo()">Cerrar</button>
    </app-popup-generico-->

      <!-- Popup de Vehículo >
      <app-popup-generico *ngIf="showVehiculoePopup">
        <app-popup-vehiculo></app-popup-vehiculo>
      </app-popup-generico-->

      <!-- Botones para abrir los popups >
      <button (click)="showClientPopup = true">Mostrar Popup de Cliente</button>
      <button (click)="showVehiclePopup = true">Mostrar Popup de Vehículo</button-->

    </div>
</form>