
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Vehículos del Cliente {{cliente?.persona.nombre}}        
          
        </div>
        
       

        <div class="card-body">
          <div  class="row"   >
            <div    class="form-group col-3 md:col-3" >
              
              <label class="etiqueta" for="idCliente">Código </label> 
              <input   id="idCliente" type="text"   class="form-control" value="{{cliente?.id}}" readonly="true">
             
            </div>
  
            <div class="form-group col-6 md:col-6" > 
              <label class="etiqueta"  for="nombreCliente" >Cliente</label>
              <input id="nombreCliente" type="text"   class="form-control" value="{{cliente?.persona.nombre}}" readonly="true">
              
            </div>   
     
          </div>
          
          <button pButton type="button" (click)="openDialog(null, 'nuevo')"  label="Agregar" icon="pi pi-plus" iconPos="left" ></button>

          <p-table [value]="listaVehiculos" *ngIf="( listaVehiculos && listaVehiculos.length > 0)"  responsiveLayout="scroll">
            <ng-template pTemplate="header"  >
                <tr>
                    
                    <th pSortableColumn="id" style="width:20%">Código <p-sortIcon field="id"></p-sortIcon></th>
                    <th>Modelo </th>   
                    <th>Patente </th> 
                    <th>Color </th> 
                    <th>Año </th>                
                    <th>Acciones</th>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="body" *ngIf="(listaVehiculos && listaVehiculos.length > 0)" let-vehiculo>
                <tr>
                  <td class="text-right">{{vehiculo.id}}</td>
                  <td style="display:none;"> {{vehiculo.modelovehiculo.id}} </td>
                  <td > {{vehiculo.modelovehiculo.nombreModelo}} </td>
                  <!--td style="display:none;"> {{vehiculo.modelovehiculo.marcavehiculo.id}} </td-->
                  <td> {{vehiculo.patente}} </td>
                  <td> {{vehiculo.color}} </td>
                  <td> {{vehiculo.anio}} </td>

                  <td>
                        
                    <button pButton type="button" (click)="openDialog(vehiculo, 'edicion')"  icon="pi pi-pencil"  iconPos="left"></button>
                    
                    <button pButton type="button" style="margin-left: 15px;" (click)="deleteVehiculo(vehiculo)" icon="pi pi-trash" class="boton-rojo" iconPos="left"></button>
                    
                    <button pButton type="button" style="margin-left: 15px;" (click)="openDialog(vehiculo, 'consulta')" class="btn btn-danger"  icon="pi pi-eye"> </button>                    

                  </td>
                </tr>
            </ng-template>
            
           
        </p-table>

        <div *ngIf="!( listaVehiculos && listaVehiculos.length > 0)">
          No hay vehículos disponibles
        </div>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
        
      </div>
      <button  (click)="goBack()">Volver</button>
    </div>
    <!--/.col-->
    
  </div>

  <p-dialog header={{this.tituloHeader}} [(visible)]="displayDialog" [modal]="true" appendTo="body" [style]="{width: '50vw'}">
    <p-message severity="error" *ngIf="hasError" text="Error al guardar"></p-message>
    <form [formGroup]="frmClienteVehiculos" >
      
      <div class="form-group col-6 md:col-6">
        
        <div class="row">
          <div    class="field col-12 md:col-6">
            <label for="id" class="etiqueta">Código</label>
            <input id="id" [readonly]="true"  type="number" formControlName="id" class="form-control" >                
          </div>
        </div>           
        
        <div class="row">
          <div    class="field col-12 md:col-6">
          <label class="etiqueta" for="marcavehiculo">Marca </label> 
          <p-dropdown id="marcavehiculo" formControlName="marcavehiculo" [options]="marcas" optionLabel="nombre" [filter]="true"  (onChange)="actualizarModelos()"></p-dropdown>
          </div>
        </div> 

        <div class="row">
          <div    class="field col-12 md:col-6">
          <label class="etiqueta" for="modelovehiculo">Modelo </label> 
          <p-dropdown id="modelovehiculo" formControlName="modelovehiculo" [options]="modelosDeMarcaSeleccionada" optionLabel="nombre" [filter]="true" ></p-dropdown>
      
          <!--span class="text-danger" *ngIf="nombre.touched && nombre.invalid">  
            <div>* Nombre de Modelo es requiredo. </div>  
          </span--> 
          </div>
        </div> 

        <div class="row">
          <div    class="field col-12 md:col-6">   
          <label class="etiqueta" for="patente">Patente </label> 
          <input   id="patente" type="text" formControlName="patente" class="form-control">
          </div>
        </div> 

        <div class="row">
          <div    class="field col-12 md:col-6">   
          <label class="etiqueta" for="numeroSerie">Número de Serie</label> 
          <input   id="numeroSerie" type="text" formControlName="numeroSerie" class="form-control">
          </div>
        </div> 

        <div class="row">
          <div    class="field col-12 md:col-6">
          <label class="etiqueta" for="color">Color </label> 
          <input   id="color" type="text" formControlName="color" class="form-control">
          </div>
        </div> 
        <div class="row">
          <div    class="field col-12 md:col-6">
          <label class="etiqueta" for="anio">Año </label> 
          <input   id="anio" type="text" formControlName="anio" class="form-control">
          </div>
        </div>      
      </div> 
     </form>

    <p-footer>
      <div *ngIf="this.accion !== 'consulta'" >
      <button pButton type="button"    (click)="displayDialog=false" label="Cancelar" class="p-button-success"></button>       
      <button pButton type="button" label="Guardar" [disabled]="!frmClienteVehiculos.valid"  (click)="saveVehiculo(cliente)" class="p-button-secondary"></button>
      </div>
      <div *ngIf="this.accion === 'consulta'" >
        <button pButton type="button"    (click)="displayDialog=false" label="Volver" class="p-button-success"></button>  
      </div>
    </p-footer>

 </p-dialog>

 <p-confirmDialog header="Confirmation"  appendTo="body"  icon="pi pi-exclamation-triangle"></p-confirmDialog>