.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-header h2 {
    margin: 0;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
  }
  
  .table-responsive {
    margin-top: 1rem;
  }
  
  .ui-button-secondary {
    margin-right: 0.5rem;
  }
  
  #tabla-detalles tbody tr:first-child td {
    border-bottom: 4px solid #000; /* Ajusta el grosor y color del borde */
}

.table-responsive {
  overflow: visible; /* Asegúrate de que el contenedor no limite el desbordamiento */
}