
<div class="card">
  <div class="card-header">
    <h2>Turno - Recepción del Vehiculo</h2>
    <div class="float-right">
      <button pButton label="Volver" (click)="goBack()" icon="pi pi-arrow-left" class="ui-button-secondary"></button>
      <button pButton label="Cancelar"  *ngIf="!camposReadOnly"  icon="pi pi-times" class="ui-button-secondary"></button>
      
      <button pButton label="Confirmar"  *ngIf="!camposReadOnly"  (click)="submitRecepcion()" icon="pi pi-check" class="ui-button-primary"></button>
    </div>
  </div>

 

  <div class="card-body">
    <!-- Formulario Principal -->
    <form [formGroup]="recepcionForm">
      <div class="card">
        <div class="card-body">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="etiqueta" for="fechaRecepcion">Fecha Recepción:</label>
              </div>
              <div class="col-auto">
               
                <p-calendar [readonlyInput]="camposReadOnly" 
                            id="fechaRecepcion" 
                            formControlName="fechaRecepcion"
                             [showTime]="true" 
                            [hourFormat]="24"
                            dateFormat="dd/mm/yy"></p-calendar>
              </div>
            
              <div class="col-auto">
                <label class="etiqueta" for="usuario">Usuario:</label>
              </div>
              <div class="col-auto">
                <input id="usuario" [readonly]="true" type="text" formControlName="usuario" class="form-control">
        
              </div>

        

            </div>
        </div>
      </div>

 
        
        <!-- Contenido completo del formulario cuando esté expandido -->
        <div class="card">
          <div class="card-body">
           

                  <p-accordion [activeIndex]="0">
                      <p-accordionTab header="{{dataResumenCliente}}">
                            <div formGroupName="cliente">
                              <div class="form-group">
                                <label for="cliente" class="font-weight-bold">Cliente:</label>
                                <div class="row">
                                  <div class="col-md-2 mb-1">
                                    <input type="text" id="idCliente" formControlName="idCliente" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                  </div>
                                  <div class="col-md-2 mb-1">
                                    <button class="btn btn-primary" (click)="abrirPopup('popUp-cotizacion-clientes')"> 
                                      <i class="pi pi-search"></i>
                                    </button>
                                  </div>
                                  <div class="col-md-8 mb-1">
                                    <input type="text" id="nombreCliente" formControlName="nombreCliente" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                  <label for="direccion" class="font-weight-bold">Dirección:</label>
                                  <div>
                                    <input type="text" id="direccion" formControlName="direccionCliente" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="telefono" class="font-weight-bold">Teléfono:</label>
                                  <div>
                                    <input type="text" id="telefono" formControlName="telefonoCliente" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                  </div>
                                </div>
                             </div>
                           </div>
                      </p-accordionTab>
                      <p-accordionTab header="{{dataResumenVehiculo}}">
                     
                              <div formGroupName="vehiculo">
                                <div class="form-group">
                                  <label for="vehiculo" class="font-weight-bold">Vehiculo:</label>
                                  <div class="row">
                                    <div class="col-md-2 mb-1">
                                      <input type="text" id="idVehiculo" formControlName="idVehiculo" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                    </div>
                                    <div class="col-md-2 mb-1">
                                    
                                      <button class="btn btn-primary" (click)="abrirPopup('popUp-cotizacion-vehiculos', ventaForm.get('cliente.idCliente').value)"> 
                                        <i class="pi pi-search"></i>
                                      </button>
                                    </div>
                                    <div class="col-md-8 mb-1">
                                      <input type="text" id="descVehiculo" formControlName="descVehiculo" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                    </div>
                                  </div>
                                  
                        
                                  <div class="form-group">
                                    <label for="color" class="font-weight-bold">Color:</label>
                                    <div>
                                      <input type="text" id="color" formControlName="color" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                    </div>
                                  </div>
                                
                                  <div class="form-group">
                                    <label for="patente" class="font-weight-bold">Patente:</label>
                                    <div>
                                      <input type="text" id="patente" formControlName="patente" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="numeroserie" class="font-weight-bold">Número de Serie:</label>
                                    <div>
                                      <input type="text" id="numeroserie" formControlName="numeroserie" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="anio" class="font-weight-bold">Año:</label>
                                    <div>
                                      <input type="text" id="anio" formControlName="anio" class="form-control" readonly="readonly"> <!-- Cambiado aquí -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                         
                      </p-accordionTab>
                
                  </p-accordion>
                
               
           
          </div>
        </div>

        
     
      <div class="card">
        <div class="card-body">  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="combustible" class="font-weight-bold">Combustible:</label>
              <div>
               
                
                <p-progressBar  [value]="value">
                    <ng-template pTemplate="content" let-value> 
                    <span>{{ label_status}}</span>    
                    </ng-template>
                </p-progressBar>
                
                <div class="flex gap-2">
                  <p-button 
                    icon="pi pi-minus" 
                    (onClick)="calculoCombustible(-25)" 
                    [disabled]="value <= 0 || camposReadOnly">
                  </p-button>
                  <p-button 
                    icon="pi pi-plus" 
                    (onClick)="calculoCombustible(25)" 
                    [disabled]="value >= 100 || camposReadOnly">
                  </p-button>
                </div>  
              </div>
            </div>
            
           
            <div class="form-group col-md-6">
              <label for="kilometraje" class="font-weight-bold">Kilometraje:</label>
              <div>
                <input type="number" id="kilometraje" formControlName="kilometraje"   class="form-control"  [readonly]="camposReadOnly" > 
              </div>
            </div>
          </div>
        </div>
      </div>

  

       <div class="card">
        <div class="card-body">  
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="aseguradora" class="font-weight-bold">Aseguradora:</label>
                    <div>                    
                      <p-dropdown  [style]="{'minWidth':'100%'}" 
                                   [options]="listaSeguros" 
                                   placeholder="Sin Aseguradora" 
                                   formControlName="aseguradora" 
                                   optionLabel="nombre" 
                                   optionValue="id"
                                   dataKey="id"
                                 ></p-dropdown>
                    </div>
                    <label for="nroSiniestro" class="font-weight-bold">Nro. Siniestro:</label>
                    <div>
                      <input type="text" formControlName="nroSiniestro"  class="form-control" > 
                    </div>
                </div>
             
             
                <div class="form-group col-md-6">
                    <label for="inspector" class="font-weight-bold">Inspector:</label>
                    <div>
                      <input type="text" formControlName="inspector"  class="form-control" > 
                    </div>
                    <label for="franquicia" class="font-weight-bold">Franquicia:</label>
                    <div>
                      <input type="number" formControlName="franquicia"  class="form-control" > 
                    </div>
                </div>
            </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-body">
           <!-- Observaciones -->
          <div class="form-group col-md-12">
            <label class="font-weight-bold" for="observaciones">Observaciones:</label>
             <div>
                <textarea [readonly]= "camposReadOnly" style="min-width: 100%; width: 100%" pInputTextarea id="motivoConsulta" formControlName="motivoConsulta"></textarea>
             </div>
          </div>
        </div>
      </div>

      <!-- Tabla de Ítems -->
      <div class="table-responsive mt-3">
        <table id="tabla-detalles" 
               class="table table-bordered" 
               [ngClass]="{ 'consulta': esConsulta, 'edicion': !esConsulta }">
          <thead class="thead-dark">
            <tr>
              <th style="display: none;">ItemId</th>  
              <th>Item</th>
              <th style="width:50px">Tipo</th>
              <th style="width:50px">Importe</th>
              <th style="width:50px">Cantidad</th>
              <th style="width:50px">Bonif.</th>
              <th>IVA</th>
              <th>Subtotal</th>              
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody formArrayName="items">
            <!--tr *ngFor="let item of form.controls['items'].controls; let i = index" [formGroupName]="i"-->
            <ng-container *ngFor="let itemrow of items.controls; let i=index; let l=last">
            <tr  *ngIf="!(modo === 'ver' && i === 0)" [ngClass]="{'fila-en-edicion': idxEditar === i}"                
                 [formGroupName]="i" >
              <td style="display: none;"><input pInputText formControlName="id" ></td>  
              <td>
                <!--[suggestions]="filteredItems" 
                (completeMethod)="searchItems($event)" 
                (onSelect)="onSelectItem($event, i)" 
                field="nombre"-->
                <p-autoComplete formControlName="producto"                                
                                [suggestions]="suggestions" 
                                (completeMethod)="searchItems($event)" 
                                (onSelect)="onSelectItem($event, i)"
                                field="nombre"
                                [minLength]="3"
                                [dropdown]="false"
                                placeholder="Escribe al menos 3 caracteres"
                                [readonly]=" i >= 0 && (idxEditar != i) "                       
                                >
                                <ng-template let-item pTemplate="item">
                                  <div class="p-d-flex p-ai-center">
                                    <!-- Cambiado ngClass para que utilice las clases correctas de PrimeIcons -->
                                    <div>
                                      <div>{{ item.nombre }}</div>
                                      <small class="p-text-muted">{{ item.tipo | titlecase }}</small>                                      
                                    </div>
                                  </div>
                                </ng-template>

                </p-autoComplete>
              </td>
              <td style="width:50px"><input pInputText formControlName="tipo" [readonly]="i >= 0 "></td>
              <td style="width:50px"><input pInputText formControlName="precioUnitario" [readonly]="i >= 0 "></td>
              <td style="width:50px"><input pInputText formControlName="cantidad"   [readonly]="i >= 0 && (idxEditar != i)" ></td>
              <td style="width:50px"><input pInputText formControlName="bonificacion"  [readonly]="i >= 0 && (idxEditar != i)"></td>
              <td>{{ calcularIVA(i)  | currency }}</td>
              <td>{{ calcularItem(i) | currency }}</td>
              
              <td>
                
                <button pButton icon="pi pi-plus" (click)="addItem(i)" *ngIf="i == 0  " ></button>
                <button pButton icon="pi pi-trash" class="p-button-danger" *ngIf="i > 0 && modo != 'ver'" (click)="deleteItem(i)"></button>
               
                <button pButton 
                        [icon]="idxEditar === i ? 'pi pi-check' : 'pi pi-pencil'" 
                        class="p-button-rounded p-button-text"
                        *ngIf="i > 0 && modo != 'ver'" 
                        (click)="editItem(i)">
                </button>
              </td>
            </tr>
            
          </ng-container>
           
         
          </tbody>
        
        </table>
      
      </div>
      <!-- Fin item -->
 
      <div *ngIf="( esConsulta && items && items.length === 1)">
         
            Sin Items asociados. 
          
      </div>
      <!-- Resumen -->
      <div class="row mt-3">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2">Resumen</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td>Descuento Total Items</td>
                <td>{{calcularBonificacionItems()}}</td>
              </tr>
              <tr>
                <td>Repuestos</td>
                <td>{{ totalRepuestos }}</td>
              </tr>
              <tr>
                <td>Servicio</td>
                <td>{{ totalServicios }}</td>
              </tr>
              <tr>
                <td>Total neto</td>
                <td>{{ calcularTotalNeto() }}</td>
              </tr>
              <tr>
                <td>IVA</td>
                <td>{{ calcularIVARepuestosYServicios() }}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>{{ calcularTotal() }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        
         
      </div>

    </form>
  </div>

</div>

<app-popup-generico 
                    [mostrarPopup]="mostrarPopup"
                    (cerrarPopup)="cerrarPopup()"
                    [datos]="datos"                                        
                    (itemSeleccionado)="itemSeleccionadoDesdePopup($event)"
                    >
</app-popup-generico>

<p-dialog header="Error" [(visible)]="displayDialog" [modal]="true" appendTo="body" [style]="{width: '50vw'}">
   
   El total de Pago y de la Venta deben coincidir.
 

  <p-footer>
    <button pButton type="button"    (click)="displayDialog=false" label="Aceptar" class="p-button-success"></button>       
     
  </p-footer>

</p-dialog>