.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-header h2 {
    margin: 0;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
  }
  
  .table-responsive {
    margin-top: 1rem;
  }
  
  .ui-button-secondary {
    margin-right: 0.5rem;
  }
  
  #tabla-detalles.edicion tbody tr:first-child td {
  border-bottom: 4px solid #000;
  }

  /* Si está en modo consulta, se quita */
  #tabla-detalles.consulta tbody tr:first-child td {
    border-bottom: none !important;
  }

.table-responsive {
  overflow: visible; /* Asegúrate de que el contenedor no limite el desbordamiento */
}