<p-steps [model]="[
  {label: 'Datos Cliente'},
  {label: 'Datos Vehículo'},
  {label: 'Motivo Consulta'},
  {label: 'Servicios'},
  {label: 'Fecha'},
  {label: 'Confirmación'}
]" [activeIndex]="activeIndex"></p-steps>

<form [formGroup]="stepForm" (ngSubmit)="confirmarTurno()">
  <div [ngSwitch]="activeIndex">
    <div *ngSwitchCase="0">
      <form [formGroup]="clienteForm">
        
        
        <div class="form-group col-6">
     
          <label class="etiqueta" for="nroIdentificacion">Tipo Identificador:</label>
          <div  class="row input-group align-items-center">
              <div class="col">
                  <p-dropdown 
                      [style]="{'width':'100%'}" 
                      [options]="listaTipoIdentificadores" 
                      placeholder="Seleccionar Identificación" 
                      formControlName="tipoIdentificador" 
                      optionLabel="identificador" 
                      optionValue="id"
                      (onChange)="checkFields()">
                  </p-dropdown>
              </div>
              <div class="col">
                  <input 
                      id="nroIdentificacion" 
                      type="text" 
                      formControlName="nroIdentificacion" 
                      class="form-control" 
                      (blur)="onBlurNroIdentificacion()"
                      (input)="checkFields()">
              </div>
              <div class="col-auto">
                  <button 
                      type="button" 
                      class="btn btn-primary" 
                      [disabled]="!areFieldsFilled" 
                      (click)="onBlurNroIdentificacion()">
                      <i class="pi pi-search"></i>
                  </button>
              </div>
          </div>
      </div>

      
     
      <div  class="form-group  col-12 md:col-6">
        <label class="etiqueta"    for="tipoPersona">Tipo Persona</label>
        <div>
          <p-radioButton  [disabled]="ClienteExiste" (onClick)="onClickTipoPersona()" name="group1" styleClass="margin-left: 15px;" value="F" label="Física"   formControlName="tipoPersona" inputId="F"></p-radioButton>        
          <p-radioButton  [disabled]="ClienteExiste" (onClick)="onClickTipoPersona()" name="group1" styleClass="margin-left: 60px;" value="J" label="Jurídica" formControlName="tipoPersona"  inputId="J"></p-radioButton>
        </div>
      </div>
     
      

        <div  *ngIf="clienteForm.value.tipoPersona === 'J'" class="form-group col-6 md:col-6">
          <label for="razonsocial" class="etiqueta">Razón Social:</label>
          <input [readonly]="ClienteExiste" type="text" class="form-control" id="razonsocial" formControlName="razonsocial" name="razonsocial" required>
        </div>
 
         
          <div   *ngIf="clienteForm.value.tipoPersona === 'F'"  class="form-group col-6 md:col-6" >         
            <label class="etiqueta" for="nombre"> Nombre: </label> 
            <input [readonly]="ClienteExiste"  id="nombre" type="text" formControlName="nombre" class="form-control">
          </div>
          <div  *ngIf="clienteForm.value.tipoPersona === 'F'"  class="form-group col-6 md:col-6">
            <label class="etiqueta"> Apellido:</label>
            <input [readonly]="ClienteExiste"  id="apellido" type="text" formControlName="apellido" class="form-control" />
          </div>
          
          <div  class="form-group col-6 md:col-6">
            <label for="phone" class="etiqueta">Número de Teléfono:</label>
            <input [readonly]="ClienteExiste" type="tel" class="form-control" id="telefono" formControlName="telefono" name="phone" required>
          </div>
          <div  class="form-group col-6 md:col-6">
            <label for="email" class="etiqueta">Correo Electrónico:</label>
            <input [readonly]="ClienteExiste" type="email" class="form-control" id="email" formControlName="email" name="email" required>
          </div>

        <button type="button" pButton label="Cancelar" (click)="goBack()">  </button>
        <button type="button"  [disabled]="!this.clienteFormValido" pButton label="Siguiente" (click)="siguienteStep()"></button>
      
      </form>
    </div>

    <div *ngSwitchCase="1">
      <form [formGroup]="vehiculoForm">
        <div class="form-group">
          <div *ngIf="clienteTurno?.vehiculos?.length > 1">
            <label class="etiqueta">Vehículos del cliente:</label>
            <p-table [value]="clienteTurno.vehiculos" selectionMode="single" [(selection)]="vehiculoElegido">
              <ng-template pTemplate="header">
                <tr>
                  <th>Id del Vehículo</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>Patente</th>
                  <th>Color</th>
                  <th>Seleccionar</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-vehiculo>
                <tr>
                  <td>{{ vehiculo.id }}</td>
                  <td>{{ vehiculo.modelovehiculo?.nombre }}</td>
                  <td>{{ vehiculo.modelovehiculo?.marcavehiculo?.nombre}}</td>
                  <td>{{ vehiculo.patente }}</td>
                  <td>{{ vehiculo.color }}</td>
                  <td>
                    <p-radioButton name="vehiculo" [disabled]="this.mostrar"  [value]="vehiculo" formControlName="selectedVehiculo" (onClick)="seleccionarVehiculo(vehiculo)"></p-radioButton>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <button type="button" pButton label="{{this.labelAuto}}" (click)="seleccionarVehiculo()"></button>
          </div>

          <div *ngIf="clienteTurno?.vehiculos?.length === 0 || mostrar || this.clienteTurno===null" formGroupName="vehiculo">
            
            <div    class="form-group col-6 md:col-6" >            
              <label class="etiqueta" for="patente">Patente: </label> 
              <input   id="patente" type="text" formControlName="patente" class="form-control" >  
              <span class="text-danger" *ngIf="validarPatente()"> * Patente ya existente, chequee la información. </span>
              
            </div>
           
            <div class="form-group col-6 md:col-6">
              <div class="mb-2">
                <label class="etiqueta" for="marcavehiculo">Marca</label>
              </div>
              <div>
                <p-dropdown id="marcavehiculo" formControlName="marcavehiculo" [options]="marcas" optionLabel="nombre" [filter]="true" (onChange)="actualizarModelos()"></p-dropdown>
              </div>
            </div>         
           
            <div class="form-group col-6 md:col-6">
              <div class="mb-2">
                <label class="etiqueta" for="modelovehiculo">Modelo </label> 
              </div>
              <div>
                <p-dropdown id="modelovehiculo" formControlName="modelovehiculo" [options]="modelosDeMarcaSeleccionada" optionLabel="nombreModelo" [filter]="true" ></p-dropdown>
              </div>
              <!--span class="text-danger" *ngIf="nombre.touched && nombre.invalid">  
                <div>* Nombre de Modelo es requiredo. </div>  
              </span--> 
            </div>
          
    
          </div>
        </div>
        <button type="button" pButton label="Cancelar" (click)="goBack()">  </button>
        <button type="button" pButton label="Anterior" (click)="anteriorStep()"></button>
        <button type="button" [disabled] = '!(this.patenteValida)' pButton label="Siguiente" (click)="siguienteStep()"></button>
      </form>
    </div>

    <div *ngSwitchCase="2">
      <form [formGroup]="motivoForm">
        <div class="form-group">
          <label>Motivo de Consulta:</label>
          <textarea pInputTextarea formControlName="motivoConsulta"></textarea>
        </div>
        <button type="button" pButton label="Cancelar" (click)="goBack()">  </button>
        <button type="button" pButton label="Anterior" (click)="anteriorStep()"></button>
        <button type="button" [disabled] ="!motivoForm.valid" pButton label="Siguiente" (click)="siguienteStep()"></button>
      </form>
    </div>

    <div *ngSwitchCase="3">
      <form [formGroup]="serviciosForm">
        <div class="form-group">
          <label>Seleccione Servicios:</label>
          <ng-container formArrayName="selectedServices">
            <div *ngFor="let servicio of listaServicios; let i = index">
              <input type="checkbox" [formControlName]="i" (change)="onCheckboxChange($event, servicio)">{{ servicio.nombre }}
            </div>
          </ng-container>
        </div>
        <button type="button" pButton label="Cancelar" (click)="goBack()">  </button>
        <button type="button" pButton label="Anterior" (click)="anteriorStep()"></button>
        <button type="button" pButton label="Siguiente" (click)="siguienteStep()"></button>
      </form>
    </div>

    <div *ngSwitchCase="4">
      <form [formGroup]="fechaForm">
        <div class="form-group">        
          <div class="row">
            <div class="col-md-9 col-12">
              <div class="text-center mb-3">
                <h4>Seleccionar Fecha y Horario</h4>   
              </div>

              <div class="form-group">
                <label for="fecha">Seleccionar Fecha:</label>
                <p-calendar  formControlName="fecha" 
                class="max-w-full"  
                dateFormat="dd-mm-yyyy"      
                [inline]="true" 
                [showWeek]="true" 
                (onSelect) = "recuperarHorarios($event)"></p-calendar>
              </div>
      

              <p-listbox 
                [options]="listaHorarios" 
                formControlName="horarioSeleccionado" 
                optionLabel="hora" 
                [style]="{ width: '15rem' }" 
                [listStyle]="{ 'max-height': '220px' }">
              </p-listbox>
            

          
            
            </div>
     
      </div>
          </div>
          <button type="button" pButton label="Cancelar" (click)="goBack()">  </button>
          <button type="button" pButton label="Anterior" (click)="anteriorStep()"></button>          
          <button type="button" [disabled]= '!fechaForm.valid' pButton label="Siguiente" (click)="siguienteStep()"></button>
        </form>
      </div>

    <div *ngSwitchCase="5">
      <h3>Confirmación de Datos</h3>
      <div *ngIf="stepForm.valid">
  
        <div >
          
          <p><strong> {{ clienteForm.get('tipoIdentificador')?.value.identificador }}:</strong> {{ clienteForm.get('nroIdentificacion')?.value }}</p>
          <p *ngIf="clienteForm.value.tipoPersona === 'F'"><strong>Nombre:</strong> {{ clienteForm.get('nombre')?.value }}</p>
          <p *ngIf="clienteForm.value.tipoPersona === 'F'"><strong>Apellido:</strong> {{ clienteForm.get('apellido')?.value }}</p>
          <p *ngIf="clienteForm.value.tipoPersona === 'J'"><strong>Razón Social:</strong> {{ clienteForm.get('razonsocial')?.value }}</p>
          <p><strong>Vehículo:</strong></p>
          <ul>
            <li><strong>Patente:</strong> {{ vehiculoForm.get('vehiculo.patente')?.value }}</li>
            <li><strong>Marca:</strong> {{ vehiculoForm.get('vehiculo.marcavehiculo')?.value.nombre }}</li>
            <li><strong>Modelo:</strong> {{ vehiculoForm.get('vehiculo.modelovehiculo')?.value.nombreModelo }}</li>
          </ul>
        </div>
        <div>
          <p><strong>Motivo de Consulta:</strong> {{ motivoForm.get('motivoConsulta')?.value }}</p>
        </div>
        <div *ngIf="listaServicios && selectedServices">
          <p><strong>Servicios Seleccionados:</strong></p>
          <ul>
            <ng-container *ngFor="let servicio of listaServicios; let i = index">
              <li *ngIf="selectedServices.at(i)?.value && servicio">
                <span>{{ servicio.nombre }}</span>
              </li>
            </ng-container>
          </ul>
        </div>
    
        <div>
          <p><strong>Fecha Seleccionada: </strong>{{ fechaForm.get('fecha')?.value | date:'dd-MM-yyyy' }}</p>
          <p><strong>Hora Seleccionada: </strong> {{ fechaForm.get('horarioSeleccionado')?.value?.hora }}</p>
        </div>
        <button type="button" pButton label="Cerrar" (click)="goBack()">  </button>
        <button type="button" [disabled]="EstadoConfirmado" pButton label="Cancelar" (click)="goBack()">  </button>
        <button type="button" [disabled]="EstadoConfirmado" pButton label="Anterior" (click)="anteriorStep()"></button>
        <button type="button" [disabled]="EstadoConfirmado || !stepForm.valid" pButton label="Confirmar Turno" (click)="confirmarTurno()"></button>
        <button type="button" [disabled]="!(EstadoConfirmado)" pButton label="Nuevo Turno" (click)="navigateToNewTurno()"></button>
        
      </div>
      <div *ngIf="!stepForm.valid">
        <p>Por favor complete todos los pasos anteriores antes de confirmar el turno.</p>
        <button type="button" pButton label="Anterior" (click)="anteriorStep()"></button>
      </div>
    </div>

  </div>
  
 
  
 
</form>

<p-dialog header="Seleccione Cliente" [(visible)]="displayDialog">
  <div *ngFor="let cliente of dummyClientes">
    <p>{{cliente.dni}} - {{cliente.nombre}} {{cliente.apellido}}</p>
    <button type="button" pButton label="Seleccionar" (click)="onClienteSelect(cliente)"></button>
  </div>
</p-dialog>
